img {
  width: 100%;
  border-radius: 50%;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content section */

.main-content-section {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 90px;
  padding-top: 60px;
}

/* about me section */

.about-me-section {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0;
  margin-bottom: 25px;
}
.My-Name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 25px;
}
.about-me-description {
  width: 700px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: black;
  margin: 0;
}

/* my project sections */

.my-projects-section {
  margin-bottom: 40px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0;
  margin-bottom: 25px;
}
.my-projects-list {
  padding: 0 0 0 18px;
  margin: 0;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-left: 5px;
}
.my-projects-item {
  color: #000;
  font-weight: bold;
  list-style: circle;
  padding-left: 10px;
  padding-bottom: 15px;
  width: 85%;
}
/* .my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
} */
.my-projects-item-description {
  margin: 0;
  font-weight: normal;
}

/* my work expirience */

.my-work-experience-section {
  margin: 0;
  margin-bottom: 40px;
}

.my-education-university,
.my-work-expirience-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}
.my-work-expirience-positions {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.my-work-expirience-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #1d1b1b;
  margin: 0;
  margin-bottom: 10px;
}
.my-work-expirience-devider {
  color: black;
}
.my-work-expirience-duties {
  width: 85%;
  margin: 0;
  padding: 0 0 0 18px;
}
.my-work-expirience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
.my-work-expirience-company-block {
  margin: 0 0 15px 0;
}

.my-education-sections {
  margin: 0;
  margin-bottom: 40px;
}

.my-education-university {
  margin: 0;
  margin-bottom: 25px;
}

.my-education-speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

/* sidebar section */
.sidebar-section {
  /* background-color: #1e2939; */
  background-color: #546a49;
  /* width: 370px; */
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-section,
.tech-skills-section,
.soft-skill-section,
.language-skill-section {
  margin: 0px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
/* contact section */

.contact-section_type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contact-section_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #cfd3da;
}
/* .social-link {
} */

/* skill section */
.skill-section {
  padding: 0 0 0 17px;
}
.skill-item {
  color: #fb6d3a;
}
.skill-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
